/* @import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Advent+Pro:wght@700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Set core body defaults */
body {
  text-rendering: optimizeSpeed;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

:root {
  --black: #1c4f9b;
  --white: #ffffff;
  --tw-color1: #e1d5ec;
  --tw-color1-hover: #aba2b3;
  --font-nunito: ;
}

.walletConnectButton {
  background: linear-gradient(272.64deg, #ff8d8d 0.86%, #7d12e7 68.2%);
}

.nitfee-text {
  background: linear-gradient(180deg, #ffffff 18.62%, rgba(255, 255, 255, 0) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  font-family: "Advent Pro", sans-serif;
  transform: translate(-46%, 0);
}
.conflux-text {
  background: linear-gradient(272.64deg, #ff8d8d 0.86%, #7d12e7 68.2%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  font-family: "Advent Pro", sans-serif;
  transform: translate(0%, 15px);
}
.nft-card:hover {
transition: ease-in 2s;
}
.nft-card:hover img{
  height: 232px;
}
.nft-card:hover .collect-button{
  display: block;
}
/* .collect-button:hover{
  transition: ease-in 2s;
} */
.nft-price {
  background: linear-gradient(98.31deg, #ff8d8d -20.73%, #7d12e7 71.91%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.collect-button {
  background: linear-gradient(98.31deg, #ff8d8d -20.73%, #7d12e7 71.91%);
}
